.footer-container {
  height: 100px;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  background-color: #E2BFB3;

  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.inner-container {
  display: flex;
  gap: 50px;
}

@media (max-width: 750px) {
  .footer-container {
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
  }
  .inner-container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
  }
}