.homepage-body-container {
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;

  background-color: white;
}

.homepage-body-container h2 {
  font-family: "Barlow", sans-serif;
  font-weight: 300;
  font-style: normal;

  margin-top: 60px;
}

.product-bar-container {
  border: 2px solid black;
  border-radius: 10px;

  padding: 20px 0 20px 0;
  width: 1000px;

  background-color: rgb(255, 255, 255);
}

.product-bar-container a img {
  height: 125px;
  width: 150px;
}